:root {
    --bg-select: #4bb7ffb1;
    --bg-th: #4bb7ffb1;
    --table-border: #000000;

}

:has(#theme-slider:checked) {
    --bg-select: #212121;
    --bg-th: #8300ceb1;
    --table-border: #ffffff;
}

section#score-table, section#performance, section#filter {
    width: 33.33%;
}

section#filter {
    text-align: center;
}

section#performance, section#filter {
    flex-direction: column;
}

h3 {
    text-align: center;
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    th, td {
        transition: background-color var(--time-bg) ease, color var(--time-color) ease;
        text-align: center;
        padding: 8px;
        border: 1px solid var(--table-border);
    }
    th {
        background-color: var(--bg-th);
    }
}

select#filter {
    font-size: 1rem;
    width: 120px;
    padding: 10px;
    background-color: var(--bg-select);
    color: var(--text);
    transition: background-color var(--time-bg) ease, color var(--time-color) ease;
}

