:root {
    --bg-body: #ffffff;
    --bg-nav: #7800be;
    --bg-main: #ffffff;
    --bg-header: #1D1D1D;
    --bg-footer: #1D1D1D;
    --text: #000000;
    --text-nav: #ffffff;
    --border: #000000;
    --accent-hover: #4bb7ffb1;
    --a-color: #0000EE;
    --bg-button: #4bb7ffb1;
    --fill-moon: #bdbdbd;
    --fill-sun: yellow;
    --stroke-button: #ffffff;
    --time-bg: 0.9s;
    --time-color: 0.4s
}

:has(#theme-slider:checked) {
    --bg-body: #181818;
    --bg-nav: #212121;
    --bg-main: #131122;
    --bg-header: #44006b;
    --bg-footer: #1D1D1D;
    --text: #e7e7e7;
    --text-nav: #ffffff;
    --border: #808080;
    --accent-hover: #8300ceb1;
    --a-color: #9e00fa;
    --bg-button: #7800be;
    --fill-moon: #ffeeaa;
    --fill-sun: #bdbdbd;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-body);
    color: var(--text);
    transition: background-color var(--time-bg) ease, color var(--time-color) ease;
}

nav {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--bg-nav);
    border-bottom: 1px solid var(--border);
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9999;
    transition: transform 0.5s ease-in-out, background-color var(--time-bg) ease, color var(--time-color) ease;
    a {
        color: var(--text-nav);
        text-decoration: none;
    }
}

div.navEle {
    padding: 10px 30px 10px 30px;
    font-size: 100%;
    transition: border var(--time-color) ease;
    border-left: 1px solid var(--border);
    a {
        text-decoration: none;
    }

}

div.navEle:hover {
    background-color: var(--accent-hover);
    transition: background-color 0.45s ease;
}

nav a:last-child .navEle {
    border-right: 1px solid var(--border);
}

nav.hidden {
    transform: translateY(-100%);
    margin: 0;
    padding: 0;
}

.switch {
    position: relative;
    top: 30%;
    left: 4%;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-hover);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--accent-hover);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-hover);
}

input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

button#hide-button {
    position: fixed;
    top: calc(var(--nav-height)*(-1));
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--bg-nav);
    transition: transform 0.5s ease-in-out, background-color var(--time-bg) ease
}

svg#svg-hide-button {
    stroke: var(--stroke-button);
    transition: stroke var(--time-bg) ease, transform 0.4s ease-in;
}


.rotate-180 {
    transform: rotate(180deg);
}

div#hideButton.nav {
    transform: translateY(0);
    z-index: 9999;
}

main {
    padding-top: calc(var(--nav-height)*(-1));
    padding-bottom: 4px;
    background-color: var(--bg-main);
    transition: padding-top 0.5s ease-in-out, background-color var(--time-bg) ease, color var(--time-color) ease;
}

main.navhidden {
    padding-top: 0;
}

section#container {
    display: flex;
}

header, footer {
    text-align: center;
    color: white;
    padding: 15px;
}

header {
    background-color: var(--bg-header);
    transition: background-color var(--time-bg) ease, color var(--time-color) ease;
}

footer {
    background-color: var(--bg-footer);
}

p {
    padding: 10px 0px;
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 10px;
}

h3 {
    text-align: center;
}

img {
    margin-left:15px ;
}

ol {
    margin: 0px;
}

.text {
    padding: 15px;
    text-align: justify;
}

.center {
    text-align: center;
}

.database-id {
    font-size: medium;
    opacity: 40%;
    float: right;
}

a {
    color: var(--a-color);
    transition: color var(--time-color) ease;
}

button[type=submit] {
    background-color: var(--bg-button);
    border: 1px solid var(--border);
    color: var(--text);
    padding: 10px;
    margin: auto;
    transition: background-color var(--time-bg) ease, color var(--time-color) ease;
}

div#theme-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: auto;
    left: 60px;
    gap:8px;
    margin-top: 15px;
}

svg#moon {
    fill: var(--fill-moon);
    margin-left: 10px;
    transition: fill var(--time-bg) ease;
}

svg#sun {
    fill: var(--fill-sun);
    transition: fill var(--time-bg) ease;
}