{% extends "hello/layout.html" %}
{% block title %}
Kontakt
{% endblock %}
{% load static %}
{% block content %}
<header>
    <h2>Kontakt</h2>
</header>
<h3>
    Dziękuję za zainteresowanie!
</h3>
<hr/>
<p class="text">
    Dziękuję za zainteresowanie moją pracą i projektem! Chociaż nie udostępniam publicznie swojego adresu e-mail, aby lepiej zarządzać komunikacją, zapraszam do kontaktu za pomocą alternatywnych platform, które pozwolą na szybszą i wygodniejszą wymianę informacji. <br/>
    Preferuję kontakt poprzez Discord, gdzie chętnie odpowiem na wszelkie pytania i pomogę w razie potrzeby. Możesz dodać mnie do znajomych na Discordzie, a następnie wysłać wiadomość bezpośrednią – postaram się odpowiedzieć jak najszybciej. <br/>
    Dodatkowo, jeżeli jesteś zainteresowany bardziej technicznymi aspektami moich projektów lub chcesz zaangażować się w współpracę, zachęcam do kontaktu przez GitHub. W repozytoriach znajdziesz wszystkie moje publiczne projekty, a także możliwość zgłaszania problemów, sugestii czy nowych pomysłów. GitHub to doskonała platforma do współpracy, śledzenia postępów w projektach i omawiania szczegółów technicznych. <br/>
    Zarówno Discord, jak i GitHub to miejsca, gdzie będę dostępny do rozmowy na temat projektów, współpracy, a także wszelkich kwestii technicznych i organizacyjnych.<br/>
</p>
<p class="center">
    <strong>
        Czekam na Twoje wiadomości i chętnie odpowiem na wszystkie pytania!
    </strong>
</p>
<img src="{% static 'hello/icons/discord.png' %}" alt="Ikona discorda">
<p class="text">ryszard9910</p>
{% endblock %}