{% extends "hello/layout.html" %}
{% block title %}
Nauka
{% endblock %}
{% block content %}
<header>
    Nauka
</header>
<p class="text">Na tej stronie znajdziesz materiały do nauki w zakresie teorii i praktyki dla kwalifikacji zawodowych INF.02, INF.03 oraz INF.04.
    <br/> Znajdziesz tu niezbędne zasoby do przygotowania się do egzaminów zawodowych, w tym rekomendowane kanały i strony, które pomogą Ci w nauce.</p>

<h2 class="text">Teoria – polecane zasoby</h2>
<p class="text">W sekcji teorii możesz zapoznać się z podstawami informatyki, systemami komputerowymi, sieciami, tworzeniem aplikacji i bazami danych. Aby ułatwić naukę, polecam następujące zasoby:</p>

<ul>
    <li><a href="https://www.youtube.com/channel/UCzn6vAfspIcagLax1fck_jw" target="_blank">Kanał YouTube: Pasja Informatyki</a>  - pełen kursów wideo, które pomogą Ci w przyswajaniu materiału teoretycznego oraz przygotowaniach do egzaminów.</li>
    <li><a href="https://miroslawzelent.pl" target="_blank">Strona Pana Mirosława Zelenta</a>  – solidne materiały teoretyczne, artykuły oraz przykłady dotyczące przedmiotów związanych z informatyką i programowaniem.</li>
    <li><a href="http://" target="_blank">Strona arkusze.pl</a>  – strona oferująca arkusze egzaminacyjne z lat ubiegłych. To doskonałe źródło do nauki, które pomoże Ci zapoznać się z pytaniami egzaminacyjnymi oraz sprawdzić swoje umiejętności przed egzaminem.</li>
</ul>

<h2 class="text">Praktyka – zadania i arkusze</h2>
<p class="text">W tej sekcji znajdziesz materiały dotyczące zadań praktycznych oraz arkuszy egzaminacyjnych, które pomogą Ci w lepszym przygotowaniu się do egzaminów zawodowych.</p>
<ul>
    <li>
        <strong>Strony z egzaminami praktycznymi:</strong> 
        <ul>
            <li><a href="https://arkusze.pl/egzamin-zawodowy-kwalifikacja-inf-02" target="_blank">arkusze.pl INF 02</a></li>
            <li><a href="https://arkusze.pl/egzamin-zawodowy-kwalifikacja-inf-03" target="_blank">arkusze.pl INF 03</a></li>
            <li><a href="https://arkusze.pl/egzamin-zawodowy-kwalifikacja-inf-04" target="_blank">arkusze.pl INF 04</a></li>
        </ul><br/>
    </li>
    <li><strong>Repozytorium praktycznych zadań INF 03:  </strong><a href="https://github.com/Chr1skyy" target="_blank">Ch1skyy</a></li>
</ul>

{% endblock %}